@import "_inceased/table__th_inceased.scss";
@import "_descreased/table__th_descreased-white.scss";
    .table__th {
        width: 7.14%;
        min-width: 45px;
        border-top: 1px solid rgba(34, 62, 105, .1);
        border-right: 1px solid rgba(34, 62, 105, .1);
        flex-direction: column;
        justify-content: center;
    }

@media (min-width: 768px) and (max-width: 1200px) {
    .table__th {
        width: 7.14%;
        min-width: 45px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .table__th {
        width: 7.14%;
        min-width: 45px;
    }
}