@import "blocks/header/header.scss";
@import "blocks/content/content.scss";
$font-size: 1rem;
$font-color: lch(53 105 40);
$margin-top: 83px;

.root {
    font-size: $font-size;
    color: $font-color;
    margin: $margin-center;
    width: 88.8%;
    margin-top:$margin-top;
    background: #FFFFFF;
    border: 1px solid rgba(17, 34, 62, 0.05);
    box-sizing: border-box;
    border-radius: 5px;
}

