@import "blocks/header/header.scss";
@import "blocks/content/content.scss";

.root {   
    margin: 0 auto;
    background: #FFFFFF; 
    border: 1px solid rgba(17, 34, 62, 0.05);
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 83px;
    max-width: 1896px;
    width: 88.8%;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .root {
        max-width: 1200px;  
        width: 95%;
        margin-top: 40px;
           
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    .root {
        max-width: 768px;  
        width: 100%;
        margin-top: 10px;
           
    }
}
