@import "__form/header__form.scss";
@import "__button/header__button.scss";

$width: 100%;
$margin-center: 0 auto;
header {    
    margin: $margin-center;
    display: flex;
    position: relative;
}


@media (min-width: 1200px) {
    header {
        margin-top: 40px;
        height: 100px;
        width: 92.59%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header {
        height: 70px;
        width: 95%;
        margin-top: 20px;
    }
}

@media (min-width: 360px) and (max-width: 768px) {
    header {
        height: 40px;
        width: 98%;
        margin-top: 10px;
    }
}