header form input {
    border: 0;
    display: block;
    width: 91%;
    height: 93%;    
    padding-right: 0px;
}

@media (min-width: 1200px) {
    header form input {
        padding-left: 16px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header form input {
        padding-left: 10px;
    }
}